.card {
  width: 100% !important;
  height: 100% !important;

  .card-text {
    overflow: hidden;
    text-overflow: ellipsis; // Display ellipsis (...) when text overflows
    display: -webkit-box;
    -webkit-line-clamp: 3; // Limit to 3 lines (adjust as needed)
    -webkit-box-orient: vertical;
    flex: 1; /* Allow card-text to grow and fill available space */
  }

  .card-img-top {
    object-fit: contain;
    max-height: 10rem;
  }
}
